body {
    margin: 50px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#todays-challenge {
    color: rgb(161, 39, 39);
    font-weight: bold;
    font-size: 30px;
}